.idea/
latest/
*.suo
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.mdb

[Bb]in/
[Dd]ebug*/
x64/
x86/
build/
bld/
[Oo]bj/
*.lib
*.sbr
*.resharper.user
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
App_Data/

NuGet/*.dll
*.nupkg
*.pidb
*.userprefs
add.sh
.gitignore
.gitattributes


#
src/Aicl.Liebre.WebClient/app/bower_components/
src/Aicl.Liebre.WebClient/app/api/
src/Aicl.Liebre.WebClient/app/images/

src/Aicl.Liebre.Cuestionario/app/bower_components/
src/Aicl.Liebre.Cuestionario/node_modules/
src/Aicl.Liebre.Cuestionario/dist/
src/Aicl.Liebre.Cuestionario/.tmp/


node_modules/
dist/
test/temp
.sass-cache
.tmp
test/bower_components/

.*~
