<link rel="import" href="../common/q-base.html">
<link rel="import" href="../common/q-ciudades.html">
<link rel="import" href="../common/q-riesgos.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<polymer-element name="q-centros" extends="q-base">
<template>
	<style>
		
		.seleccionados{
			background: rgb(212,212,212);
			border-radius: 4px;
			/*overflow: auto;*/
		}
		.item-s{
			background: white;
			border-radius: 4px;
			margin-bottom: 10px;
			padding: 10px;
			/*overflow: auto;*/
			
		}
		paper-input{
			padding-left:42px;
		}
		.line{
			box-shadow:  0px 0px 0px 1px;
			margin: 10px 0px 20px 0px;
		}
		
	</style>
 <shadow></shadow>
	
	<core-icon-button icon="add-circle"  on-tap="{{ handlerAddItem }}"></core-icon-button>	
	<div   disabled?="{{rb.checked || estado!='red'}}" >	
		<template repeat="{{item, index in value}}">
			<div  class="item-s">
				<paper-input  placeholder="Nombre" value="{{item.Nombre}}"></paper-input>
				<q-ciudades selected="{{item.Ciudad}}"></q-ciudades>
				<div layout horizontal center>
					<core-icon-button icon="add-circle" on-tap="{{handlerAddRiesgo}}"></core-icon-button>
					<div>Riesgos</div>
				</div>
				<template repeat="{{riesgo, ri in item.Riesgos}}">
					<q-riesgos selected="{{riesgo.Riesgo}" 
							   on-riesgo-select="{{handlerRiesgoSelect}}"></q-riesgos>
					<q-rangos selected="{{riesgo.Rango}}" 
							   on-rango-select="{{handlerRiesgoSelect}}"></q-rangos>
					<div class="line"></div>
				</template>
			</div>
		</template>
		<div style="height:500px"></div>
	</div>
	
	
</template>
	<script>
		Polymer({
			handlerAddItem:function(){
				this.value.unshift({Nombre:null,Ciudad:null,Riesgos:[{Riesgo:null, Rango:null}]});
			},
			handlerRiesgoSelect:function(event,detail, sender){
				
				if(event.type==='riesgo-select'){
					this._current.Riesgos[sender.templateInstance.model.ri].Riesgo=
						detail.item
				}
				else if(event.type==='rango-select'){
					this._current.Riesgos[sender.templateInstance.model.ri].Rango=
						detail.item
				}
				
				this.valueChanged();
			},
						
			handlerAddRiesgo:function(event, detail, sender){				
				this._current= sender.templateInstance.model.item;
				this._current.Riesgos.unshift({Riesgo:null, Rango:null});
				this.valueChanged();
			},
			ready:function(){		
			},
			domReady:function(){
				this.fire("element-ready");
			},
			go:function(){
				if(!this.value){
					this._current={Nombre:null,Ciudad:null,Riesgos:[{Riesgo:null, Rango:null}]};
					this.value=[this._current];
				}
			},
			valueChanged:function(){
				console.log("q-centros valueChanged", this.value);
				if( this.respuesta) this.respuesta.Valor=this.value;
			}
		})
	</script>
</polymer-element>
