<link rel="import" href="../common/q-base.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<polymer-element name="q-entero" extends="q-base">
<template>
	<style></style>
	<paper-input w100 type="number" inputValue="{{value}}" label="Diligenciar..." disabled?="{{estado!='red'}}">
	</paper-input>
</template>
<script>
  Polymer({
	  eventDelegates: {
		  'input': 'answered'
	  },
	  domReady:function(){
		  this.fire("element-ready");
	  },
	  go:function(){
		  console.log("q-entero go...");
	  },
	  valueChanged:function(){
		  console.log("q-entero valueChanged");
		  if( this.respuesta) this.respuesta.Valor=this.value;
	  }
  });
</script>
</polymer-element>