<link rel="import" href="../common/q-base.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<polymer-element name="q-tercerizados" extends="q-base">
<template>
	<style>
		.seleccionados{
			background: rgb(212,212,212);
			border-radius: 4px;
		}
		.item-s{
			background: white;
			border-radius: 4px;
			margin-bottom: 10px;
			padding: 40px 0px 30px 5px;
			/*overflow: hidden;*/
			/*min-height: 380px;*/
		}		
		paper-input{
			padding-left: 42px;
		}
	</style>
 <shadow></shadow>
	<div layout horizontal center disabled?="{{rb.checked || estado!='red'}}" >
		<core-icon-button icon="add-circle" on-tap="{{ handlerAddItem }}"></core-icon-button>
		<div>Nuevo Registro</div>
	</div>
	<div  disabled?="{{rb.checked || estado!='red'}}" >	
		<template repeat="{{item, index in value}}">
			<div class="item-s">
				<div layout horizontal>
					<q-ciiu-dropdown selected="{{item.CIIU}}" on-ciiu-select="{{valueChanged}}"></q-ciiu-dropdown>
					<div flex></div>
					<core-icon-button icon="delete"  
									  on-tap="{{ handlerDeleteItem }}"></core-icon-button>
				</div>
				<paper-input  placeholder="Nombre del Tecero" value="{{item.Nombre}}" 
								 on-change="{{valueChanged}}"></paper-input>
				<q-externos-dropdown selected="{{item.Externo}}" valign="bottom"
									 on-externo-select="{{valueChanged}}"></q-externos-dropdown>
				<q-rangos selected="{{item.Rango}}" valign="bottom"
									  on-rango-select="{{valueChanged}}"></q-rangos>				
			</div>
		</template>
	</div>
</template>
	<script>
		Polymer({
			handlerAddItem:function(){
				this.value.unshift({Nombre:null,CIIU:null,Externo:null,Rango:null});
			},
			handlerDeleteItem:function(event, detail, sender){
				this.value.splice(sender.templateInstance.model.index,1);
			},
			ready:function(){		
			},
			domReady:function(){
				this.fire("element-ready");
			},
			go:function(){
				if(!this.value){
					this.value=[];
				}
				else if (typeof this.value==='string'){
					try{
						this.value=JSON.parse(this.value);
					}
					catch(e){
						this.value=[];
					}
				}
			},
			valueChanged:function(){
				console.log("q-tercerizados valueChanged", this.value);
				if( this.respuesta) this.respuesta.Valor=this.value;
			}
		})
	</script>
</polymer-element>
