<link rel="import" href="../common/topeka-quiz-base.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">

<polymer-element name="topeka-quiz-multiline" extends="topeka-quiz-base">
<template>

  <style>
          
    :host-context(.wide) {
      width: 304px;
      margin: 0 auto;
    }
  
    paper-input {
      width: 100%;
      
    }
    
  </style>
    
  <paper-input inputValue="{{value}}" label="Diligenciar..." multiline rows="3"></paper-input>
  
</template>
<script>

  Polymer('topeka-quiz-multiline', {
    
    eventDelegates: {
      'input': 'answered'
    },
    
    isCorrect: function() {
      return this.areEqual(this.value, this.quiz.answer);
    },
    
    areEqual: function(s1, s2) {
      return s1 && s2 && s1.trim().toLowerCase() === s2.trim().toLowerCase();
    }
    
  });

</script>
</polymer-element>