@inherits ServiceStack.Razor.ViewPage<Aicl.Liebre.Model.DiagnosticoInfoResponse>
@{
ViewBag.Title="aqui ponemos el titulo";
Layout="Info";
}

<div style="background:grey">
	<h1>@Model.Empresa.Nombre</h1>
</div>
