body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  overflow:hidden;
}

body /deep/ div.page{
	height: 100vh;
	overflow: auto; 
	width: 100vw;
}

body /deep/ paper-toast {
	bottom: 0;
	left: 0;
	width: 100%;
}

body /deep/ paper-toast.error, paper-toast.error_connection{
	background-color: #620000;
	color:#fff;
}

body /deep/ paper-toast.complete{
	background-color: #000f62;
	color:#fff;
}

body /deep/ paper-dialog {
	top: 0px;
}

body /deep/ .titulo{
	padding:0px 5px 0px 5px;
}

body /deep/	.text{
	padding:5px 5px 0px 5px;
	margin-bottom:  6px;
	font-size: small;
}

body /deep/ .card {
	display: block;
	position: relative;
	padding: 10px 5px 10px 5px ;    
	margin: 10px 0px 10px 0px;
	box-shadow: 0 1px 2px 0 ;
	border-radius: 2px;
	overflow: hidden;	
	max-width: 512px;
	background-color: rgb(212, 212, 212);
	width: 100vw;  
}

body /deep/	paper-dialog > paper-icon-button {
	border-radius: 10px;
	background-color: rgb(8, 13, 49); 
	color: white;
}		
body /deep/ span[raised]{
	background-color: rgb(8, 13, 49); 
	color: white;
	font-size: small;
	padding: 8px;
	border-radius: 4px;
}


body /deep/ .list {
  display: block;
  border: 1px solid #ccc;
  border-bottom: none;
  background: #666;
  color: white;
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 512px;
  width: 100vw;  
}       
body /deep/   .list > * {
  padding: 12px 20px;
  border-bottom: 1px solid #ccc;
  font-size: small;
}       
body /deep/   .list > *.core-selected {
  background: #333;
}		
body /deep/ span.core-selected[check]:after {
  content: "\2713";
  position: absolute;
  padding-left: 10px;
}
	
